<p id="notice"><%= notice %></p>

<ul>
  <% @readings.each_with_index do |reading, index| %>
    <li><%= link_to "#{reading.date} -- #{reading.location}", reading %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Reading', new_reading_path, class: 'btn' %>
